main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#grid-reset {
    height: 50px;
    width: 200px;
}

#grid {
    height: 800px;
    width: 800px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.square {
    flex: 1;
}