body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 800px;
    width: 800px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.square {
    flex: 1;
}